.container {
    position: relative;
    display: inline-block;
 }
 .dropdown {
   max-height: 150px;  /* Define a altura máxima da dropdown */
   overflow-y: auto;   /* Habilita o scroll vertical quando o conteúdo exceder a altura máxima */
   border: 1px solid #ccc; /* Apenas para estilizar melhor */
   padding: 10px; /* Opcional */
   background-color: white; /* Opcional */
 }
 .button {
    padding: 0;
    width: 100px;
    border: 0;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: 0;
    font-size: 20px;
 }
 ul {
    list-style: none;
    padding: 0;
    margin: 0;
   }
   li {
    padding: 8px 12px;
   }
   
   li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
   }